<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidm.payees">

    <application>
        <activity android:name=".ui.PayeeCreationFragment" />
        <activity android:name=".ui.PayeeProfileActivity" />
    </application>

</manifest>